extends layout

block content
	if users
		.row
			.col-lg-8.offset-lg-2.bg-light
				table.table.table-striped
					thead
						tr
							th(scope='col') #
							th(scope='col') Username
							th(scope='col') Coins
					tbody
						each user, i in users
							tr
								td(scope='row') #{i + 1}
								td #{user.username}
								td #{user.coins}
